# Nestjs specific
/nextjs-dashboard/dist
/nextjs-dashboard/node_modules
/nextjs-dashboard/build
/nextjs-dashboard/tmp
/nextjs-dashboard/.next

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# dotenv environment variable files
.env
.env.development
.env.test
.env.production

# temp directory
.temp
.tmp
